:root{
    --color-M1:#66097D;
    --color-M2:#32043D;
    --color-M3:#9A0DBD;
    --color-M4:#A40EC9;
    --color-M5:#860CA3;
    --color-Oscuro1: #000;
    --color-claro0: #FFF;
}
.navbar{
    background-color: var(--color-M3);
    margin:0;
}
.navbar .navbar-brand{
    margin:0;
}

.navbar #navbarNav{
    background-color: var(--color-M3);
    
}

.navbar #navbarNav .nav-link{
    background-color: var(--color-M3);
}