{%extends "layout.html"%}
{%block content%}
<style>
    .contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido form{
        width: 50vw;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido>textarea{
        margin-top:10px;
    }
</style>
<div class="contenido">
    <h1>Método de Bisección</h1>
    <form action="/calcularBiseccion" method="POST">
        <label>Ingrese la Función
            <input type="text" name="Ecuacion" placeholder="x**2+3*x-1">
        </label>
        <label>Ingrese el valor de X en el límite inferior
            <input type="text" name="Limite inferior" placeholder="-4">
        </label>
        <label>Ingrese el valor de X en el límite superior
            <input type="text" name="Limite superior" placeholder="0">
        </label>
        <label>Ingrese el valor de tolerancia del error
            <input type="text" name="Tolerancia" placeholder="0.001">
        </label>
        <button type="submit">Hallar Raíz</button>
        <div>
            <button type="reset">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </div>
    </form>
    <textarea>{{resultado}}</textarea>
</div>
{%endblock%}
