{%extends "layout.html"%}
{%block content%}
<style>
    .contenido{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido form{
        width: 50%;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .contenido form label{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .contenido>h3{
        margin-top:10px;
    }
    .contenido>textarea{
        width: 50%;
        font-size: 20px;
    }
</style>
<div class="contenido">
    <h1>Integracion Por Rectángulos</h1>
    <form action="/CIntegracionRectangulos" method="POST">
        <label>Ingrese la Función
            <textarea type="text" name="Ecuacion">{{Ecuacion}}</textarea>
        </label>
        <label>Ingrese el intervalo A
            <textarea type="text" name="IA">{{IA}}</textarea>
        </label>
        <label>Ingrese el intervalo B
            <textarea type="text" name="IB">{{IB}}</textarea>
        </label>
        <label>Ingrese el número de iteraciones
            <textarea type="text" name="Iteraciones">{{Iteraciones}}</textarea>
        </label>
        <button type="submit">Hallar</button>
        <div>
            <button type="reset">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
            </button>
        </div>
    </form>
    <h3>Calculado por punto izquierdo: {{Izq}}</h3>
    <h3>Calculado por punto derecho: {{Der}}</h3>
    <h3>Calculado por punto medio: {{Med}}</h3>
</div>
{%endblock%}
